.alumni{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
}
.alumni-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around
}
.alumni-item{
    display: flex;
    align-items: center;
    padding-left: 40px;
    padding-right: 40px;
}
.alumni-header{
    font-size: 100px;

}
