.navbar {
    background-color: #f1dbb6;
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
}

li {
  list-style: none;
}

.navbar-item {
  padding-left: 50px;
}

.navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
}

img {
    margin-left: 0.5vw;
}

h3 {
    margin: 0px 0.5vw;
}

a {
  text-decoration: none;
  color:  #883a3a;
  font-weight: bold;
}