.navbar {
    background-color: #f1dbb6;
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

li {
  list-style: none;
}

.navbar-item {
  padding-left: 50px;
}

.navbar-item:hover{
  opacity: .75;
}

.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  padding-right: 50px;
}

img {
  margin-left: 0.5vw;
}

h3 {
    margin: 0px 0.5vw;
}

a {
  text-decoration: none;
  color:  #883a3a;
  font-weight: bold;
}